<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DELETE{{else}}DEVOUR{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">
		DELETE
	</button>
</li>
